body
{
	font-family:Frutiger, Tahoma, Verdana, Helvetica, Arial, sans-serif;
	font-size:small;
}

#canvas
{
	position:fixed;
	left:0px;
	top:0px;
	border:1px solid black;
	background-color:LightCyan;
}